.BadgeNew__hero {
	width: 100%;
	padding: 40px 0px;
	background: url('../../images/stars.svg'), #1b1b25;
	background-repeat: repeat;
}

.Badge-logo {
	display: block;
	width: 210px;
	margin: 0 auto;
}

.BadgeNew__container {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}

.Badge__row {
	width: 100%;
	margin-bottom: 15px;
}

.BadgeNew__form > h1 {
	color: black;
	text-align: center;
}

.BadgeNew__loader {
	font-size: 1.6px;
}

@media screen and (min-width: 1000px) {
	.BadgeNew__container {
		flex-direction: row;
	}

	.BadgeNew__form {
		margin-top: -180px;
	}

	.BadgeNew__form > h1 {
		color: #ffff;
	}

	.Badge-logo {
		margin: 0px;
	}
}
