.BadgeDetails-hero {
	width: 100%;
	padding: 40px 10%;
	background: url('../../images/stars.svg'), #1b1b25;
	background-repeat: repeat;

	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #fff;
}

.BadgeDetails__container {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.row > h2 {
	font-size: 2.4rem;
	text-align: center;
}

.btn {
	border: none;
}
