.BadgeDetails-hero {
	width: 100%;
	padding: 40px 0px;
	background: url('../../images/stars.svg'), #1b1b25;
	background-repeat: repeat;
	color: #fff;
}

.BadgeDetails__container {
	margin-bottom: 40px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.row {
	width: 100%;
}

.row > h2 {
	font-size: 2.4rem;
	text-align: center;
}

.btn {
	border: none;
}

@media screen and (min-width: 1000px) {
	.BadgeDetails__container {
		max-width: 800px;
		flex-direction: row;
		justify-content: space-between;
	}

	.BadgeDetails__container:first-of-type {
		justify-content: space-around;
	}

	.BadgeDetails__name {
		margin-right: 40px;
	}
}
