.HomePage-hero {
	width: 100%;
	height: calc(100vh - (70px));
	background: url('../../images/stars.svg'), #1b1b25;
	background-repeat: repeat;
}

.HomePage__container {
	height: 100%;
	display: grid;
	justify-items: center;
}

.HomePage__introduce,
.HomePage-logo {
	width: 100%;
	max-width: 340px;
	color: #ffff;
	text-align: center;
	padding-top: 25px;
}

.HomePage-conf {
	width: 95%;
	max-width: 180px;
}

@media screen and (min-width: 800px) {
	.HomePage__container {
		grid-template-columns: 40% auto;
		grid-column-gap: 30px;
		align-items: center;
	}

	.HomePage__introduce,
	.HomePage-logo {
		padding-top: 0;
	}

	.HomePage-logo {
		max-width: 480px;
	}

	.HomePage-conf {
		max-width: 250px;
	}
}
