.BadgesList {
	padding: 0;
}

.BadgeList__item {
	list-style: none;
	background: #ffff;
	border-radius: 6px;
	margin: 15px auto;
	overflow: hidden;

	border: 1px solid rgb(45, 196, 255);
}

.BadgeList__header {
	min-height: 30px;
	padding: 0 20px;
	background: rgb(236, 236, 236);
	border-bottom: 1px solid rgb(216, 216, 216);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.BadgeList__data {
	padding: 20px 0px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.Badge__data-avatar {
	width: 100px;
	border-radius: 50%;
}

.Badge__data-description {
	margin-top: 20px;

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.Badge__data-description > p {
	width: 100%;
	display: block;
	text-align: center;
}

.BadgesList__link {
	color: rgb(3, 146, 241);
	display: flex;
	align-items: center;
}

.BadgesList__link :hover {
	color: rgb(0, 127, 212);
}

.Badge__data-description > a,
.Badge__data-description > p {
	font-size: 1.6rem;
}

@media screen and (min-width: 730px) {
	.BadgeList__data {
		padding: 20px 25px;
		flex-direction: row;
		justify-content: space-around;
	}

	.Badge__data-description {
		margin-top: 0px;
	}

	.Badge__data-description > p {
		text-align: start;
	}
}
