@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Anton');

html {
	font-size: 62.5%;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', 'Helvetica Neue', sans-serif;
	background-color: #f4f4f7;
	margin: 0;
}

.container {
	width: 80%;
	max-width: 850px;
	margin: 0 auto;
}

h1 {
	color: #ffff;
	font-size: 3.2rem;
	font-family: 'Anton', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin: 10px 0 0 0;
}

p,
span,
a,
button {
	font-size: 1.8rem;
	margin: 5px 0;
}

.font-normal {
	font-size: 1.6rem;
}

.font-weight-light {
	font-weight: 400;
}

.font-weight-bold {
	font-weight: 700;
}

.font-color-primary {
	color: #ffffff;
}

.font-color-secundary {
	color: #000;
}

a.link-unstyled {
	text-decoration: none;
}

.icon {
	width: 20px;
	margin-right: 10px;
}

.btn {
	cursor: pointer;
	display: block;
	padding: 1.1rem 2rem;
	border-radius: 4px;
	margin: 10px auto 0 auto;
	width: 150px;
	text-align: center;
}

.btn.btn-primary {
	color: #fff;
	background-color: #7dcd40;
}

.btn.btn-danger {
	color: #fff;
	background-color: #cd4040;
}
